@model EstoqueMVC.Models.Produto


@{
    Layout = null;
    var message = TempData["Message"]?.ToString();//variavel de mensagem
}
<!DOCTYPE html>
<html>
    <head>
        <title>Alterar Produto</title>
    </head>
    <body>
        @if(!string.IsNullOrEmpty(message)){
            <br />
            <b>@message</b>
            <br />
            <br />
        }
        <form method="post">
            <label>Código</label>
            <input type="text" id="txtCodigo" name="txtCodigo" value="@Model.idProduto"/>
            <br />
            <label>Nome</label>
            <input type="text" id="txtNome" name="txtNome" value="@Model.Nome"/>
            <br />
            <label>Preço</label>
            <input type="text" id="txtPreco" name="txtPreco" value="@Model.Preco"/>
            <br />
            <label>Quantidade</label>
            <input type="text" id="txtQuantidade" name="txtQuantidade" value="@Model.Quantidade"/>
            <br />
            <label>Observacoes</label>
            <input type="text" id="txtObservacoes" name="txtObservacoes" value="@Model.Observacoes"/>
            <br />
            <button type="submit" formaction="AlterarProduto" id="btnAlterar" name="btnAlterar">Alterar</button>
        </form>
    </body>
</html>
