@model EstoqueMVC.Models.Produto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/excluir.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/menu.css" />
    <title>Excluir Produto</title>
    </head>
    <body>
    <header>
        <nav>
            <a class="logo" href="/Produto/Index">Controle de Estoque</a>
            <div class="mobile-menu">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/Home/Privacy">Sobre</a></li>
                <li><a href="/Produto/Index">Produtos</a></li>
                <li><a href="/Usuario/ConfirmarSenha">Editar Usuário</a></li>
                <li><a href="/Usuario/Logout">Sair</a></li>
            </ul>
        </nav>
    </header>    
    <div class="container">
        <form method="post">
          <div class="label-box">
               <div class="botao">
                    <button type="submit" formaction="Excluir" id="btnExcluir" name="btnExcluir">Excluir</button>
               </div>
              <strong>Código</strong>
              <br />
              <br />
              <input type="text" id="txtCodigo" name="txtCodigo" value="@Model.idProduto" readonly />
            </div>
          <div class="label-box">
              <strong>Nome</strong>
              <br />
              <br />
              <input type="text" id="txtNome" name="txtNome" value="@Model.Nome" readonly />
            </div>
          <div class="label-box">
              <strong>Preco</strong>
              <br />
              <br />
              <input type="text" id="txtPreco" name="txtPreco" value="@Model.Preco" readonly />
            </div>
          <div class="label-box">
              <strong>Quantidade</strong>
               <br />
               <br />
                <input type="text" id="txtQuantidade" name="txtQuantidade" value="@Model.Quantidade" readonly />
          </div>
          <div class="label-box">
               <strong>Observacoes</strong>
               <br />
               <br />
               <input type="text" id="txtObservacoes" name="txtObservacoes" value="@Model.Observacoes" readonly/>
          </div>
          <br />
        </form>
    </div>
    <br />
    </body>
</html>